body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1c1e29;
}



/* Home Style */

.HomeWrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

footer{
    position: fixed;
    bottom: 0;
}

.HomeFooterDesign{
    color: #4aee88;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.HomeFooterDesign:hover{
    color: #2b824c;
}

.HomeLogo{
 margin-bottom: 30px;   
 height: 80px;
}

.HomeMainLabel{
    margin-top: 0;
    margin-bottom: 20px;
}

.formWrapper{
    background : #282b36;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

.HomeInputGroup{
    display: flex;
    flex-direction: column;
}

.HomeInputBox{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
}

.Homebtn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background: #4aee88;
    width: 100px;
    margin-left: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.Homebtn:hover{
    background: #2b824c;
}

.homeCreateInfo{
    margin:0 auto ;
    margin-top: 20px;
}

.HomeCreateNewRoom{
    color: #4aee88;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.HomeCreateNewRoom:hover{
    color: #2b824c;
}